<h2>Editar producto</h2>

<form method="POST" action="/editar/{{infoNota._id}}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre de la tarea</label>
    <!--Mediante el value coloco los datos guardados en la contaste infoNota creada en el editar nota-->
    <input type="text" name="nombre" class="form-control" value="{{infoNota.nombre}}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tipo de tarea</label>
    <input type="text" name="tipo" class="form-control" value="{{infoNota.tipo}}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Descripción</label>
    <input type="text" name="descripcion" class="form-control" value="{{infoNota.descripcion}}" >
   <button type="submit" class="btn btn btn-primary mt-1">Enviar</button>

  </div>